*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App .container{
    width: 500px;
    height: 600px;
    min-width: 300px;
    min-height: 500px;
    margin-top: 80px;
    box-shadow: 5px 5px 5px 5px orangered;
    background-color: #000;
}
.App .container .heading{
    text-align: center;
    color: orangered;
}
.from{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    padding: 5px 10px;
}
.from input{
    width: 350px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid orangered;
    caret-color: orangered;
    background-color: #0000;
    color: #fff;
}
.from input::placeholder{
    color: #c3baba;
}
.from button{
    padding: 8px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    color: orangered;
    font-weight: bold;
    background-color: #555151;
}
.App .list ul{
    width: 100%;
    height: auto;
    padding: 10px 0px 0px 50px;
    margin-top: 20px;
    color: #c3baba;
}